obj
bin
env/
env
*.user
*.suo
*.tmp
*.pyc
*.pyc
*.nupkg
.DS_Store
packages
*.ide*
*db.lock
env/
env
.vs
*.sqlite
*.zip
.vscode/**
**/.cache/**
**/.mypy_cache/**
**/node_modules/**
**/.egg-info/**
**/logs/**
**/build/**
**/dist/**
/output/**
*.procs
*.joblib
artifacts/**
artifacts/**
git remote add origin https://github.com/wail-hadjouti/wail-had-etu.git
git remote add origin https://github.com/wail-hadjouti/kubeflow_advanced_pipeline.git
git branch -M master
git push -u origin master

https://github.com/wail-hadjouti/kubeflow_advanced_pipeline.git